#page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content-wrap {
    flex: 1;
    padding-bottom: 1rem;  /* Adjust padding as necessary */
    display: flex;
    flex-direction: column;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;  /* Adjust padding as needed */
}