/* General styles */
body, html {
  font-family: Arial, sans-serif, Hind Siliguri;
  margin: 0;
  padding: 0;
}

/* Container for the entire homepage */
.homepage-container {
  margin-top: 32px; 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Content container for main heading, description, button, and learners section */
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* Main heading style */
.main-heading {
  font-size: 2.5rem;
  color: #1B6CB3;
  margin: 0;
}

/* Description text style */
.description {
  font-size: 1.125rem;
  color: #000000;
  margin: 20px 0;
}

/* 'Get Started' button style */
.get-started-button {
  font-size: 14px;
  color: #1B6CB3;
  border: 1px solid #1B6CB3;
  background: transparent;
  margin-right: 0.5rem;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s; 
}

.get-started-button:hover {
  background: rgba(27, 108, 179, 0.1); 
  color: #1B6CB3;
}

/* Learners section */
.learners-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.learners-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.learners-text {
  font-size: 1rem;
  color: #2c3e50;
}

/* Container for the image with flags */
.image-container {
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
}

.main-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  align-items: right;
}

