/* General styling for the navbar */
.navbar-custom {
  position: fixed; 
  top: 0;
  width: 100%;
  padding: 20px px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 1000;
}

/* Styling for the brand/logo */
.navbar-custom .navbar-logo {
  font-size: 18px; 
  font-weight: bold;
  color: #216097; 
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-custom .navbar-logo img {
  height: 30px;
  margin-right: 10px;
}

/* Adjust margin for navbar items */
.navbar-custom .navbar-nav .nav-item {
  margin-left: 1.5rem;
}

/* Style links */
.navbar-custom .nav-link {
  font-size: 16px; 
  color: #4A4A4A; 
  padding: 10px 15px; 
  align-items: center;
  border-radius: 6px;
  background: transparent; 
  transition: color 0.3s, background 0.3s; 
}

.navbar-custom .nav-link:hover {
  color: #1B6CB3;
  background: rgba(27, 108, 179, 0.1); 
}

/* Styling for right-aligned buttons */
.navbar-custom .nav-primary-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Signup button styling */
.nav-primary-buttons .signup-button {
  font-size: 14px;
  color: #1B6CB3; 
  border: 1px solid #1B6CB3;
  background: transparent;
  margin-right: 0.5rem;
  padding: 8px 16px; 
  border-radius: 6px;
  transition: background 0.3s, color 0.3s; 
}

.nav-primary-buttons .signup-button:hover {
  background: rgba(27, 108, 179, 0.1); 
}

/* Login button styling */
.nav-primary-buttons .login-button {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 6px;
  background: #1B6CB3; 
  color: #ffffff; 
  border: none; 
  transition: background 0.3s;
}

.nav-primary-buttons .login-button:hover {
  background-color: #216097; 
}

/* Container for the button and user info */
.nav-buttonContainer{
  display: flex;
  align-items: center;
}

/* Input button styling */
.inputButton {
  font-size: 14px;
  padding: 8px 16px; 
  border-radius: 6px;
  background: #1B6CB3; 
  color: #ffffff; 
  border: none; 
  transition: background 0.3s; 
  cursor: pointer; 
}

.inputButton:hover {
  background-color: #216097; 
}
  







