.practiceTestYourSkills {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.19px;
    line-height: 71.5px;
    font-weight: 500;
  }
  
  .practiceGetReadyFor {
    align-self: stretch;
    position: relative;
    font-size: 24px;
    letter-spacing: -0.19px;
    line-height: 32px;
    color: #000;
  }
  
  .practiceTestYourSkillsParent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
  }
  
  .practiceFrameWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .practiceTestStructure {
    width: 163px;
    position: relative;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
    z-index: 0;
  }
  
  .practiceLabel {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.22px;
    line-height: 32.26px;
    font-weight: 500;
  }
  
  .practiceText {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .practiceContents {
    align-self: stretch;
    height: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .practiceContentsWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 0;
  }
  
  .practiceCard {
    align-self: stretch;
    width: 296px;
    border-radius: 11.73px;
    background-color: #f1f2fc;
    border: 1.5px solid #3f6ac4;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 23.5px;
  }
  
  .practiceCol {
    height: 94px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .practiceColParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    z-index: 1;
    font-size: 20.53px;
    color: #1e1f21;
  }
  
  .practiceGuidance {
    width: 240px;
    margin: 0 !important;
    position: absolute;
    bottom: -247px;
    left: 0px;
    box-shadow: 0px 2px 10px rgba(109, 110, 111, 0.08);
    border-radius: 4px;
    background-color: #1e1f21;
    height: 239px;
    display: none;
    z-index: 2;
  }
  
  .practiceRadiocard {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 16px;
  }
  
  .practiceRadiocardWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .practiceFrameDiv {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    color: #777;
    font-family: 'SF Pro Text';
  }
  
  .practiceFrameContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
  }
  
  .practiceText2 {
    position: relative;
    letter-spacing: -0.15px;
    line-height: 24px;
    z-index: 0;
  }
  
  .practicePrimaryButton {
    border-radius: 6px;
    background-color: #216097;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
  
  .practicePrimaryButton:hover {
    background-color: #1b4f80;
  }
  
  .practiceFrameGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 68px;
  }
  
  .practiceImage1Icon {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 800px;
    object-fit: cover;
  }
  
  .practiceFrameParent {
    width: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 80px 48px;
    box-sizing: border-box;
    gap: 68px;
    text-align: left;
    font-size: 48px;
    color: #216097;
    font-family: 'Hind Siliguri';
  }
  

  
  
  