/* Page container with two sections */
.custom-page-container {
  display: flex;
  justify-content: space-between; 
  padding: 20px;
  margin-top: 2%;
}

/* Score Section Styling */
.custom-your-score-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

/* Title (Your Score) */
.custom-your-score {
  font-size: 48px; 
  font-weight: 600; 
  color: #216097; 
  margin-bottom: 10px;
  margin-left: 20px;
}

/* Instruction Text */
.custom-in-order-to-container {
  width: 500px;
  position: relative;
  font-size: 22px;
  letter-spacing: -0.19px;
  line-height: 39px;
  color: #000;
  text-align: left;
  display: flex;
  align-items: center;
  font-family: 'Hind Siliguri'; 
  margin-left: 20px;
}

.custom-you-scored-a {
  font-weight: 600;
  color: #000;
}

/* Button Container */
.custom-button-container {
  display: flex;
  gap: 60px;
  margin-top: 20px;
  margin-left: 20px;
}

/* Primary Button (Retake test) */
.custom-primarybutton {
  background-color: #216097;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #216097;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-primarybutton:hover {
  background-color: #174a75;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Secondary Button (View dashboard) */
.custom-secondarybutton {
  background-color: transparent;
  color: #216097;
  padding: 10px 20px;
  border: 2px solid #216097;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-secondarybutton:hover {
  background-color: #f0f0f0;
  color: #174a75;
}

/* Right section: Review of answers */
.custom-review-container {
  width: 55%; 
  padding-left: 20px;
}

.custom-review-section {
  margin-bottom: 40px;
}

.custom-review-section h2 {
  font-size: 22px;
  font-weight: 600;
  color: #666;
  margin-bottom: 16px;
}

.custom-background-parent {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  margin-bottom: 16px;
  display: flex;
  overflow: hidden;
}

.custom-background {
  width: 12px;
}

.custom-wrong-answer {
  background-color: #af3939;
}

.custom-right-answer {
  background-color: #0b683e;
}

.custom-frame-wrapper {
  flex: 1;
  width: 100%;
  position: relative;
  background-color: #fff;
  justify-content: flex-start;
  padding: 20px; 
}

.custom-frame-wrapper .custom-question-text {
  font-weight: bold;
  color: #216097 !important;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
}

/* Correct Answer Text */
.custom-correct-answer-container {
  font-size: 16px;
  color: #333; 
}

.custom-correct-answer-container span {
  font-weight: bold;
  color: #000; 
}

.custom-review-the-questions {
  font-weight: 500;
}

