/* Category Group */
.category-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.category-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.category-link {
    font-size: 1.25rem;
    color: #216097;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

.category-description {
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin-top: 5px;
}

/* Question Item */
.questions {
    margin-top: 40px;
}

.question-item {
    margin-bottom: 20px;
}

.question-item h5 {
    font-size: 1.25rem;
    color: #216097;
    margin-bottom: 10px;
}
