/* General Styling */
body, html {
    display: flex;
    width: 1728px;
    padding: 32px 80px var(--Spacing-spacing-48, 48px) 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 68px;
    flex-shrink: 0;
    background: white;
    }

h1, h2, h5, h6 {
    margin: 0;
}

/* Styling for Main Heading and Description */
.text-center h1 {
    font-size: 2.5rem;
    color: #216097; /* Primary color */
    font-weight: bold;
}

.text-center p {
    font-size: 1.125rem;
    color: #333;
}

/* Styling for Card and Card Content */
.card {
    border-radius: 0.5rem;
    border: none;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
    height: 100%;
}

.card-title {
    color: var(--Text-Primary, #216097);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px; /* 137.5% */
    letter-spacing: -0.206px;
}

.card-text {
    color: var(--Text-Default, #000);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: -0.206px;
}

/* Styling for Link Appearance */
.card-title a {
    text-decoration: none;
    color: inherit;
}

.card-title a:hover {
    text-decoration: underline;
}

.card-body {
    padding: 1rem;
}

/* Special Styling for Sections */
.mb-4, .mb-5 {
    margin-bottom: 2rem!important;
}

.mb-3 {
    margin-bottom: 1.5rem!important;
}

/* Adjustments for Card Media */
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.col-md-4 {
    padding-right: 0;
    padding-left: 0;
}

.theme-card {
    display: flex;
    padding: var(--Spacing-spacing-24, 24px) var(--Spacing-spacing-12, 12px) var(--Spacing-spacing-24, 24px) var(--Spacing-spacing-24, 24px);
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}
