{% extends "base.html" %}

{% block title %}Homepage - USCT{% endblock %}

{% block body %}
<h1>Welcome</h1>
<h2> Learn and Practice for United States Citizenship Test</h2>
<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/practice_test">Take a Practice Test</a>
<a href="/study">Study For The Test</a>
<a href="/view_scores">View Your Scores</a>
<!-- If the user is logged in, show the logout link -->
{% if session.get("user_id") %}
    <a href="/logout">Logout</a>
{% endif %}
{% endblock %}
