{% extends "base.html" %}

{% block title %}Homepage - USCT{% endblock %}

{% block body %}
<h1>Welcome</h1>
<h2> Learn and Practice for United States Citizenship Test</h2>

<!-- If the user is logged in, show the logout link and a welcome message -->
{% if session.get("user_email") %}
    <p>Welcome back, {{ session.get("user_email") }}!</p>
    <a href="/logout">Logout</a>
{% else %}
    <!-- If the user is not logged in, show the login and register links -->
    <a href="/register">Sign Up</a>
    <a href="/login">Login</a>
{% endif %}

<a href="/practice_test">Take a Practice Test</a>
<a href="/study_for_the_test">Study For The Test</a>
<a href="/additional_resources">Find Additional Resources</a>
<a href="/view_scores">View Your Scores</a>
{% endblock %}
