/* body {
  font-family: Hind Siliguri;
  margin: 0;
  line-height: normal;

    
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Hind Siliguri;
}

a {
  text-decoration: none;
  color: inherit;
} */